<a href="<%= new_entry_path %>" class="btn btn-default col-xs-6 navigation--button" id="new_entry_button">
	New Entry
</a>
<label for="update_list_button" class="btn btn-primary col-xs-6 hidden navigation--button" id="update_list_label">
	Update List
</label>
