
/* Application */
.view-wrapper {
	padding-top: 5%;
}


/* Navigation */
.navigation {
	&--nav {
		margin: 0;
		padding: 0;
	}
	
	&--buttons {
		button {
			width: 100%;
			height: 100%;
		}
	}
}


/* Index */

a.button--anchor {
	text-decoration: none;
	background-color: red;
	height: 100%;
}

.li--hover:hover {
	background-color: $gray-lighter;
}


/* show/edit */
.entry {
	&__title {
		font-size: 24px;
		text-decoration: underline;
	}
	&__description {
			padding-top: 16px;
		font-size: 18px;
	}
	&__quantity {
		font-size: 24px;
	}
	&__btn-back {
		margin-bottom: 24px;
		text-decoration: none;
	}
}

