
/* Application */
.view-wrapper {
	padding-top: 5%;
}


/* Navigation */
.navigation {
	&--nav {
	}
	
	&--button {
		padding: 16px;
	}
}


/* Title Row In All Views */
.title--row {
	h1, div, input {
		margin: 0px;
		padding: 0px;
	}
	margin: 20px 0px 10px;
	padding: 0px 10px 0px;
}


/* Index */

a.button--anchor {
	text-decoration: none;
	background-color: red;
	height: 100%;
}

.li--hover:hover {
	background-color: $gray-lighter;
}

/* New List Dialog */
$dialog_width: 320px;
$dialog_height: 192px;
.new_list_dialog {
	position: fixed;
	width: $dialog_width;
	height: $dialog_height;
	top: 50%;
	left: 50%;
	margin-top: -($dialog_height / 2);
	margin-left: -($dialog_width / 2);
	text-align: center;
	background-color: $gray-lighter;
	padding: 16px;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 150%;

	.new_list_dialog__button {
		width: 100%;
		height: $dialog_height / 4;
		margin-top: $dialog_height / 8;
	}
}

/* Transparent Input Text Field */
.input--transparent {
	border: none;
	border-bottom: 1px dotted $gray-light;
	border-radius: 4px;
}


/* show/edit */
.entry {
	&__title {
		font-size: 24px;
		text-decoration: underline;
	}
	&__description {
			padding-top: 16px;
		font-size: 18px;
	}
	&__quantity {
		font-size: 24px;
	}
	&__btn-back {
		margin-bottom: 24px;
		text-decoration: none;
	}
}

