
<nav class="navigation--nav navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navigation--buttons">
			<div class="row">
				<div class="col-xs-6 pull-left navigation--buttons">
					<a href="<%= root_url %>">
						<button class="btn btn-default">
							Home
						</button>
					</a>
				</div>
				<div class="col-xs-6 pull-right navigation--buttons">
					<a href="<%= new_url %>">
						<button class="btn btn-default">
							New
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

