<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="row nav navbar-nav">
			<li class="col-xs-12 text-center"><%= link_to "Home", root_path %></li>
		</ul>
	</div><!-- /.container-fluid -->
</nav>
